[ "$(uname -s | tr '[:upper:]' '[:lower:]')" = 'linux' ] && alias ls='ls --color=auto'
alias ll='ls -lihF'
alias la='ls -A'
alias l='ll -A'

alias sudo='sudo '
alias grep='grep -n --color=auto'
alias j='jobs'
alias df='df -h'
alias du='du -ch'
alias ip='ip --color'
alias ipb='ip --color --brief'
alias mount_ro='mount -o ro,noexec,noatime,nodev,nosuid,noiversion'
alias ryzom_season_change='date --date $(wget -q -O - "https://api.ryzom.com/time.php?format=xml" | sed "s/></>\n</g" | /bin/grep -e "day_of_season" -e "time_of_day" | sed "s/<day_of_season>/\(89-/" | sed "s/<time_of_day>/\(23-/g" | sed "s/<\/day_of_season>/\)\*72/" | sed "s/<\/time_of_day>/\)\*3/" | bc | tr "\n" "+" | sed "s/\+$/\n\"min\"\n/" | bc | tr -d "\n")'
hash tree 2>/dev/null && alias t='tree'
hash htop 2>/dev/null && alias top='htop'
hash clang-format 2>/dev/null && alias clang-format='clang-format -style="{BasedOnStyle: llvm, IndentWidth: 4, AllowShortFunctionsOnASingleLine: None, KeepEmptyLinesAtTheStartOfBlocks: false}"'
hash xscreensaver-command 2>/dev/null && alias lock='xscreensaver-command --lock'
hash sqlmap 2>/dev/null && alias sqlmap='sqlmap --user-agent="Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)"'
hash sqlmap 2>/dev/null && alias sqlmap-tor='sqlmap --tor --tor-type=SOCKS5'
hash youtube-dl 2>/dev/null && alias audio-dl='youtube-dl -x --audio-quality 0 --audio-format "vorbis"'
hash jmtpfs 2>/dev/null && alias mount_android='jmtpfs "/media/android"'
hash kitty 2>/dev/null && alias kitty_ssh='kitty +kitten ssh'
hash nvim 2>/dev/null && alias vim='nvim'

if hash dig 2>/dev/null; then
    istheinternetonfire() {
        txt=$(dig +short txt istheinternetonfire.com)
        if hash cowsay 2>/dev/null; then
            echo "$txt" | cowsay
        else
            echo "$txt"
        fi
    }
fi

if hash yay 2>/dev/null; then
    reinstall_pattern() {
        PATTERN="$1"
        yay -S $(pacman -Qm | /bin/grep "$PATTERN" | cut -d ' ' -f1)
    }
fi
