[user]
	name = Rodolphe Breard
	email = rodolphe@what.tf

[core]
	editor = emacs

[push]
	default = simple

[alias]
	co = checkout
	df = diff
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	undo = reset --soft HEAD^
	amend = commit --amend
	random = !"git add -A; git commit -am \"$(echo $(curl -s http://whatthecommit.com/index.txt)\" (http://whatthecommit.com)\")\"; git pull --rebase; git push"

[color]
	branch = auto
	diff = auto
	status = auto

[color "branch"]
       current = yellow reverse
       local = yellow
       remote = green
 
[color "diff"]
       meta = yellow bold
       frag = magenta bold
       old = red bold
       new = green bold
 
[color "status"]
       added = yellow
       changed = green
       untracked = cyan
