[user]
    name = Rodolphe Bréard
    email = rodolphe@what.tf
    SigningKey = B229CCD5690091E7D5D6189F09BC23A1D5562635

[core]
    editor = vim

[push]
    default = simple

[alias]
    co = checkout
    df = diff --color-words
    br = branch
    ci = commit
    st = status
    unstage = reset HEAD --
    last = log -1 HEAD
    undo = reset --soft HEAD^
    amend = commit --amend

    ; ms: merge squash
    ; Squash commits from the target branch and merge them into the current branch.
    ms = merge --squash

    ;
    ; http://blogs.atlassian.com/2014/10/advanced-git-aliases/
    ;
    ls = log --oneline

    ; caa: commit amend append
    ; Take all uncommitted and un-staged changes currently in the working directory and add them to the previous commit.
    caa = commit -a --amend -C HEAD

    ; new: see new commits
    ; Displays commits created by the last command (typically after a git pull).
    new = !sh -c 'git log $1@{1}..$1@{0} "$@"'

[color]
    branch = auto
    diff = auto
    status = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[commit]
    template = ~/.git_commit_msg.txt

[pull]
    rebase = false

[init]
    defaultBranch = main
