[user]
    name = Rodolphe Breard
    email = rodolphe@what.tf

[core]
    editor = emacs

[push]
    default = simple

[alias]
    co = checkout
    df = diff
    br = branch
    ci = commit
    st = status
    ls = log --oneline
    caa = commit -a --amend -C HEAD
    unstage = reset HEAD --
    last = log -1 HEAD
    undo = reset --soft HEAD^
    amend = commit --amend
    new = !sh -c 'git log $1@{1}..$1@{0} "$@"'
    bclean = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs -r git branch -d; }; f"

[color]
    branch = auto
    diff = auto
    status = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
 
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
 
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
