xterm*background: #000000
xterm*foreground: #ffffff

URxvt*.depth: 32
URxvt*.background: [95]#000000
URxvt*.foreground: #ffffff
URxvt*.scrollBar: false
URxvt*.perl-ext-common: default,clipboard,url-select,keyboard-select
URxvt*.url-select.launcher: chromium
URxvt*.url-select.underline: true
URxvt*.keysym.M-u: perl:url-select:select_next
URxvt*.keysym.M-Escape: perl:keyboard-select:activate
URxvt*.keysym.M-s: perl:keyboard-select:search
